<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="www.i.testapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".TestApplicationApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:theme="@style/SplashTheme"
            android:name=".base.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity
        android:name=".news.AllShowsActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity
            android:name=".webview.WebViewActivity"
            >
            <!--android:screenOrientation="sensorPortrait"-->
        </activity>

    </application>
</manifest>
<!--<application-->
<!--android:name=".TvMazeApplication"-->
<!--android:allowBackup="true"-->
<!--android:icon="@drawable/ic_launcher"-->
<!--android:label="@string/app_name"-->
<!--android:supportsRtl="true"-->
<!--android:theme="@style/AppTheme">-->
<!--<activity-->
    <!--android:name=".home.HomeActivity"-->
    <!--android:screenOrientation="sensorPortrait">-->
    <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
    <!--</intent-filter>-->
<!--</activity>-->

<!--<activity-->
    <!--android:name=".shows.AllShowsActivity"-->
    <!--android:screenOrientation="sensorPortrait" />-->

<!--<activity-->
    <!--android:name=".favorite.FavoriteShowsActivity"-->
    <!--android:screenOrientation="sensorPortrait" />-->
<!--</application>-->